<oxd-text tag="p" class="orangehrm-copyright">ARTecXHRM {{ productVersion }}</oxd-text>
<oxd-text tag="p" class="orangehrm-copyright">&copy; 2020 - {{ copyrightYear}} <a href="http://www.artecx-solutions.com" target="_blank">ARTecXHRM, PVT Ltd</a>. All rights reserved.</oxd-text>
